.infobar{
  position:fixed;
  right:0.5%;
  top:30px;
  /* border-style:solid; */
  /* width:330px; */
  width:15%;
  /* height:600px; */
  height:100%;
  background-image: url("../pictures/oldPaper.jpg");
}
