.piece{
  text-align:center;
  height:100%;
  width:100%;
}
/* .icon{
  background-image:url("../pictures/longship.png");
  background-size:100%;
} */
.selected{
  background-color:red;
}

.activated{
  opacity:0.2;
}

.army1{
  background-color:grey;
  opacity:0.8;
}

.army2{
  background-color:#b37700;
  opacity:0.8;
}

.army1Activated{
  background-color:grey;
  opacity:0.4;
}
.army2Activated{
  background-color:#b37700;
  opacity:0.4;
}

.highlighted{
  background-color:lightblue;
  background-size:100%;
  width:100%;
  height:100%;
  opacity:0.5;
  z-index:-3;
}

.rangeHighlight{
  background-color:gold;
  background-size:100%;
  width:100%;
  height:100%;
  opacity:0.5;
  z-index:-3;
}

.doubleHighlight{
  background-color:purple;
  background-size:100%;
  width:100%;
  height:100%;
  opacity:0.5;
  z-index:-3;
}
