.piece{
  text-align:center;
}
/* .icon{
  background-image:url("../pictures/longship.png");
  background-size:100%;
} */
.selected{
  background-color:red;
}

.army1{
  background-color:grey;
  opacity:0.8;
}

.army2{
  background-color:#b37700;
  opacity:0.8;
}
/* .empty{
  background-image:url("../pictures/oldPaper2.jpg");
  background-size:100%; */
  /* width:10px;
  height:10px; */
/* } */
